/* Styles for the product grid */
.lightcommerce-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.lightcommerce-product {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}


.add-to-cart-btn {
    background-color: #007bff;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #0056b3; 
}


.lightcommerce-product a.button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.lightcommerce-product a.button:hover {
    background-color: #218838;
}

/* General form styles */
#lightcommerce-checkout-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#lightcommerce-checkout-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#lightcommerce-checkout-form input,
#lightcommerce-checkout-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#lightcommerce-checkout-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#lightcommerce-checkout-form button:hover {
    background-color: #218838;
}

/* Payment method styles */
.payment-method {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.payment-method input[type="radio"] {
    margin-right: 10px;
}

.payment-method label {
    margin: 0;
    font-weight: normal;
}

/* Stripe card element styles */
#stripe-card-element {
    margin-bottom: 20px;
}

#card-element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

/* Error messages */
#error-message {
    color: #ff0000;
    margin-top: 12px;
}

#checkout-message {
    margin-top: 20px;
}


